<appSettings>
  <add key="MailServer" value="dev-smtp.Hily.com"/>
  <add key ="FacebookAppId" value ="461706361282657"/>
  <add key ="FacebookAppSecret" value ="0c46dc14b8ce832cd669220897c8b706"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>